# Root script configuration (used by scripts/deploy.ts and scripts/init-vaults.ts)
BASKET_VAULT_ID=6G1N31NpMwodAgcF4hgMT9JPmzxELdeUGe66xEPssEht
SSS_PROGRAM_ID=So11111111111111111111111111111111111111112
SVS1_PROGRAM_ID=MemoSq4gqABAXKb96qnH8TysNcWxMyWCqXgDLGmfcHr
BASKET_MINT=So11111111111111111111111111111111111111112
ASSET_MINT_XAU=Eavb8FKNoYPbHnSS8kMi4tnb3ize9ySnmMHKKMHKKMHK
ASSET_MINT_WTI=FNNkznizmC6A7t2sGJGEPM53u1wWfLsTHGqKQsGsBMFV
ASSET_MINT_BTC=HovQMDrbAgAYPCmR4cN8VzQcajF5xqQRBe8EJsF3NPZZ
ASSET_MINT_XAG=Bxnobf4NbUzS8R4VQ6BXRS4KSMnrp9M4BBQnMbnVRYx3
ASSET_MINT_DXY=GcGkMqiKoGCDT5T4tFmJzFVCKCGXJFBrFn5bKmEMEqaS
ASSET_MINT_RWA=GcGkMqiKoGCDT5T4tFmJzFVCKCGXJFBrFn5bKmEMEqaS
SWITCHBOARD_AGGREGATOR=HovQMDrbAgAYPCmR4cN8VzQcajF5xqQRBe8EJsF3NPZZ
